[Unit]
Description=iharbor's web service
After=network.target

[Service]
ExecStart=uwsgi --ini /home/uwsgi/iharbor/iharbor_uwsgi.ini
ExecReload=uwsgi --stop /home/uwsgi/iharbor/uwsgi-master.pid
ExecStop=uwsgi --reload /home/uwsgi/iharbor/uwsgi-master.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
