[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.15"
pillow = "*"
mongoengine = "*"
django-rest-framework = "*"
coreapi = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
