[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.20"
pillow = "*"
mongoengine = "*"
django-rest-framework = "*"
coreapi = "*"
requests = "*"
djangorestframework-jwt = "*"
django-rest-swagger = "*"
mysqlclient = "*"
raven = "*"
django-ckeditor = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"

[dev-packages]
uwsgi = "*"

[requires]
python_version = "3.6"
