[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.13"
pillow = "==8.4.0"
coreapi = "==2.3.3"
requests = "==2.22.0"
mysqlclient = "==2.0.3"
django-ckeditor = "==5.7.1"
django-debug-toolbar = "*"
django-cors-headers = "==3.1.0"
uwsgi = "==2.0.20"
pyftpdlib = "==1.5.6"
djangorestframework = "==3.12.4"
concurrent-log-handler = "*"
drf-yasg = "==1.20.0"
djangorestframework-simplejwt = "==4.4.0"
pyjwt = "==1.7.1"
pyopenssl = "==20.0.1"
gevent = "==21.8.0"
celery = "==5.1.2"
tqdm = "==4.62.3"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
