.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.dropdown-menu {
    min-width: 80px;
}

.dropdown-menu li {
    text-align: center;
}

.progress {
    height: 6px;
    margin-bottom: 0;
}

.sidebar {
	overflow: auto;
	/*font-size: 12px;*/
	/*font-weight: 200;*/
	background-color: rgba(165, 189, 194, 0.36);
	position: fixed;
	top: 60px;
	/*width: 225px;*/
	height: 100%;
	color: rgba(33, 38, 39, 0.92);
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: -15px;
}

