{% extends "base.html" %}
{% load static %}

{% block title %}
	存储桶列表
{%endblock%}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'upload/files.css' %}">
{% endblock %}

{% block boby %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-2 col-xs-12 col-sm-8 file-list">
                {#文件上传表单#}
                <form method="POST" action="{{ action_url }}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                        {{ field.label_tag }} {{ field }}
                    {% endfor %}
                    <p id="tip_text" class="text-danger pull-left">{{ form.non_field_errors.as_text }}</p>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-primary pull-right">{{ submit_text }}</button>
                </form>
                {% block form_extend %}{% endblock %}
            </div>
        </div>
        <div class="row">
			<div class="col-sm-offset-2 col-xs-12 col-sm-8 file-list">
            {#存储桶列表#}
                <table class="table table-bordered">
                    <tr class="success">
                        <th>存储桶名</th>
                        <th>集合名称</th>
                        <th>创建时间</th>
                        <th>所属用户</th>
                    </tr>
                    {% for bucket in buckets %}
                        <tr class="info file-list-item">
                            <td><a href="{% url 'upload:file_list' bucket.name %}">{{ bucket.name }}</a></td>
                            <td>{{ bucket.collection_name }}</td>
                            <td>{{ bucket.created_time }}</td>
                            <td>{{ bucket.user.username }}</td>
{#                            <td><a class="btn btn-info" id="file-item-download" href="{% url 'upload:download' file.uuid %}">下载</a></td>#}
{#                            <td><a class="btn btn-danger" id="file-item-delete" href="{% url 'upload:delete' file.uuid %}">删除</a></td>#}
                        </tr>
				    {% endfor %}
                </table>
			</div>
		</div>
    </div>
{% endblock %}