{% extends "base.html" %}
{% load static %}
{# 加载自定义过滤器 #}
{% load custom_filters %}

{% block title %}
	文件列表
{%endblock%}


{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'upload/files.css' %}">
{% endblock %}


{% block boby %}
	<div class="container-fluid">
{#        目录导航栏#}
        <div class="row">
            <div class="col-sm-offset-2 col-xs-12 col-sm-8 file-list">
                <a href="{% url 'upload:bucket_view' %}">Home</a>
{#                如果dir_links为空，现在在bucket根路径下#}
                {% if not path_links %}
                    <span>></span>
                    <span>{{ bucket_name }}</span>
                {% else %}
                    <span>></span>
                    <a href="{% url 'upload:file_list' bucket_name=bucket_name path='' %}">{{ bucket_name }}</a>
                    {% for dir_name, path in path_links.items %}
                        <span>/</span>
                        <a href="{% url 'upload:file_list' bucket_name=bucket_name path=path %}">{{ dir_name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-xs-12 col-sm-8 file-list">
                {#文件上传表单#}
                <form method="POST" action="{{ action_url }}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                        {{ field.label_tag }} {{ field }}
                    {% endfor %}
                    <p id="tip_text" class="text-danger pull-left">{{ form.non_field_errors.as_text }}</p>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-primary pull-right">{{ submit_text }}</button>
                </form>
                {% block form_extend %}{% endblock %}
            </div>
        </div>
		<div class="row">
			<div class="col-sm-offset-2 col-xs-12 col-sm-8 file-list">
            {#文件列表#}
                <table class="table table-bordered">
                    <tr class="success">
                        <th>名称</th>
                        <th>上传时间</th>
                        <th>大小</th>
                    </tr>
                    {% for file in files %}
                        <tr class="info file-list-item">
                            {% if file.fod %}{# 文件 #}
                                <td><span class="glyphicon glyphicon-file"></span> {{ file.na | name_from_path }}</td>
                                <td>{{ file.ult | date:"Y/m/d h:m:s"  }}</td>
                                <td>{{ file.si | format_size }}</td>
                            {% else %}
                                <td>
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <a href="{% url 'upload:file_list' bucket_name=bucket_name path=file.na %}">{{ file.na | name_from_path }}</a>
                                </td>
                                <td>{{ file.ult | date:"Y/m/d H:i:s" }}</td>
                                <td>--</td>
                            {% endif %}
                            <td><a class="btn btn-info" id="file-item-download"
                                   href="{% url 'upload:download' id=file.id|to_str %}?bucket_name={{ bucket_name }}">下载</a></td>
                            <td><a class="btn btn-danger" id="file-item-delete"
                                   href="{% url 'upload:delete' id=file.id|to_str %}?bucket_name={{ bucket_name }}">删除</a></td>
                        </tr>
				    {% endfor %}
                </table>
			</div>
		</div>
	</div>
{% endblock %}


