{% extends 'base_upload.html' %}

{% block title %}{{ form_title }}{% endblock %}

{% block boby %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ form_title }}</h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="{{ action_url }}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                                {{ field.label_tag }} {{ field }}
                            {% endfor %}
                            <p id="tip_text" class="text-danger pull-left">{{ form.non_field_errors.as_text }}</p>
                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-primary pull-right">{{ submit_text }}</button>
                        </form>
                        {% block form_extend %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


