{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
	{% block head %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block boby %}{% endblock %}

    <script type="text/javascript" src="{% static 'jquery-1.12.4/jquery.min.js' %}"></script>
    {# 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件 #} 
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
	{% block script %}{% endblock %}
</body>
</html>