{% extends "base_with_sidebar.html" %}
{% load static %}
{# 加载自定义过滤器 #}
{% load custom_filters %}

{% block title %}
    存储桶
{%endblock%}


{% block head_extends %}
	<link rel="stylesheet" type="text/css" href="{% static 'buckets/bucket.css' %}">
{% endblock %}


{% block script_extends %}
    <script type="text/javascript" src="{% static 'art-template/template-web.js' %}"></script>
    <script type="text/javascript" src="{% static 'buckets/bucket.js' %}"></script>
{% endblock %}
