{% extends "base_with_sidebar.html" %}
{% load static %}

{% block title %}
    VPN
{%endblock%}

{% block head_extends %}
    <link rel="stylesheet" type="text/css" href="{% static 'buckets/bucket.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
{#        <hr style=" height:1px;border:1px;border-top:1px solid #185598;"/>#}
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div>
                    <p class="panel-title">我的VPN</p>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr class="bg-info">
                            <th>用户名</th>
                            <th>VPN口令(双击修改)</th>
                            <th>创建时间</th>
                            <th>修改时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ vpn.user.username }}</td>
                            <td class="vpn-password mouse-hover">
                                <span class="vpn-password-value mouse-hover-show">{{ vpn.password }}</span>
                                <span class="mouse-hover-no-show">******</span>
                            </td>
                            <td>{{ vpn.created_time|date:'Y-m-d H:i:s' }}</td>
                            <td>{{ vpn.modified_time|date:'Y-m-d H:i:s' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript" src="{% static 'vpn/vpn.js' %}"></script>
{% endblock %}
