{% extends "form.html" %}
{% load static %}
{% load i18n %}
{% block form_extend %}
    <a class="btn text-warning" href="{% url 'users:forget' %}">{% trans '忘记密码' %}</a>
    <a class="btn btn-success float-right" href="{% url 'users:register' %}">{% trans '注册' %}</a>
    <div class="clearfix"></div>
    <hr>
    <div class="third-part">
        <div>
{#            <a class="btn btn-sm p-2" href="{% url 'users:signin' %}{% if next %}?next={{ next }}{% endif %}"><i class="fa fa-share"></i> <i class="fa fa-user"></i> {% trans '中国科技云通行证账号登录' %}</a>#}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'passport/passport.js' %}"></script>
    {% verbatim %}
    <script>
        var passport = new Passport({umtUrl:'http://passport.escience.cn'});
        passport.checkLogin(function(is_login){
            if(is_login){
                document.getElementById("id-passport").click();
            }
        });
    </script>
    {% endverbatim %}
{% endblock %}


