.bucket-files-table-item {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	/*word-wrap: break-word;*/
	/*word-break: break-all;*/
}

.bucket-files-table-item:hover{
	background-color: #97dffd;
}

.sidebar {
	min-height: 100%;
}

.text-auto-break {
	word-break:break-all;
	word-wrap:break-word;
}

.mouse-hover:hover .mouse-hover-show{
    display: inline-block;
}
.mouse-hover:hover .mouse-hover-no-show{
    display: none;
}
.mouse-hover-no-show{
    display: inline-block;
}
.mouse-hover-show{
    display: none;
}
