{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
	{% block head %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
    <style>
        html, body{
            height: 100%;
        }

        .page-content {
            min-height: 100%;
            height: auto;
            padding-top: 60px;
            margin-bottom: -60px;
            padding-bottom: 60px;
        }

        .page-footer{
            height: 60px;
            opacity: 0.8;
            background-color: #ececec;
        }
        .page-content-display{
            margin-bottom: 47%;
        }
    </style>
</head>
<body>
    <div  class="page-content container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
{#                    <img class="navbar-brand" src="{% static 'images/icon/logo_pic.png' %}">#}
{#                    <a class="navbar-brand" href="{% url 'buckets:bucket_view' %}">地球大数据科学工程对象云存储</a>#}
                    <img class="navbar-brand" src="{% static 'images/icon/logo.png' %}">
                    <a class="navbar-brand" href="{% url 'buckets:bucket_view' %}">中国科技云对象存储服务</a>
                </div>
                <ul class="nav navbar-nav pull-right">
                    {% if share_user %}
                        <li><a><b>{{ share_user }}</b> 的分享</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.container-fluid -->
        </nav>
        <div class="page-content-display">
            {% block boby %}{% endblock %}
        </div>
    </div>
    <footer class="page-footer container-fluid">
        <div class="text-center">
            <p>1996-{% now "Y" %} <a href="http://www.cnic.cas.cn/">中国科学院计算机网络信息中心</a> 版权所有 京ICP备09112257号-94.  Powered by 中国科技云 iHarbor</p>
            <p>Copyright © 1996-{% now "Y" %} Computer Network Information Center, Chinese Academy of Sciences. All Rights Reserved.</p>
        </div>
    </footer>
</body>
    <script type="text/javascript" src="{% static 'jquery2.2.4/dist/jquery-2.2.4.min.js' %}"></script>
    {# 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件 #}
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'iharbor/js/common.js' %}"></script>
	{% block script %}{% endblock %}
</html>