{% extends "share_base.html" %}
{% load static %}
{# 加载自定义过滤器 #}
{% load custom_filters %}

{% block title %}
    分享
{%endblock%}


{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'buckets/bucket.css' %}">
{% endblock %}

{% block boby %}
    <div id="id-share-base" data-sharebase="{{ share_base }}" data-sharecode="{{ share_code }}"></div>
    <div class="col-xs-offset-1 col-xs-10" id="content-display-div"></div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
{#    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->#}
    <script type="text/javascript" src="{% static 'promise-polyfill/dist/polyfill.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'art-template/template-web.js' %}"></script>
    <script type="text/javascript" src="{% static 'share/share.js' %}"></script>
{% endblock %}
