{% extends "base_with_sidebar.html" %}
{% load static %}

{% block title %}
    关于
{%endblock%}


{% block head_extends %}
<style>
.text-indent2{
    text-indent:2em;
}
</style>
{% endblock %}

{% block content %}
    <div class="col-xs-offset-1 col-xs-10">
        <div>
            <h3>关于EVHarbor</h3>
{#            <hr style=" height:1px;border:1px;border-top:1px solid #185598;" />#}
            <p>
                EVHarbor是一个分布式对象存储服务项目，项目由中国科学院计算机网络中心创建和维护。
                项目<a href="https://github.com/evharbor">EVHarbor</a>托管于Github，
                EVHarbor提供的虚拟云主机服务功能由中国科学院计算机网络中心另一个开源项目
                <a href="https://github.com/evcloud">evcloud</a>提供。
            </p>
            <p>当前版本: V0.01.03</p>
            <p class="text-warning">Mail: helpdesk@cnic.cn</p>
        </div>
        <br>
        <div>
            <h3>参与EVHarbor</h3>
            <p>
                EVHarbor是一个开源项目，欢迎参与<a href="https://github.com/evharbor">EVHarbor</a>。
            </p>
        </div>
    </div>
{% endblock %}

{% block script_extends %}

{% endblock %}
