{% extends "base.html" %}

{% block boby %}
    <div class="sidebar container col-xs-2">
        <ul class="nav nav-tabs nav-stacked">
            <li role="presentation" class="active menu-list">
                <li class="nav-list-toggle" data-toggle="collapse" data-target="#oos-nav-list-group">
                    <h5><span class="glyphicon glyphicon-list"></span>  对象存储<span class="glyphicon glyphicon-menu-down"></span></h5>
                </li>
                <ul class="nav nav-pills nav-stacked collapse in" id="oos-nav-list-group">
                    <li><a href="{% url 'buckets:bucket_view' %}">存储桶</a></li>
                    <li><a>预留</a></li>
                </ul>
            </li>
            <li role="presentation" class="menu-list">
                <li class="nav-list-toggle" data-toggle="collapse" data-target="#cloud-nav-list-group">
                    <h5><span class="glyphicon glyphicon-list"></span>  云主机<span class="glyphicon glyphicon-menu-down"></span></h5>
                </li>
                <ul class="nav nav-pills nav-stacked collapse" id="cloud-nav-list-group">
                    <li><a>预留</a></li>
                    <li><a>预留</a></li>
                </ul>
            </li>
            <li role="presentation" class="menu-list">
                <li class="nav-list-toggle" data-toggle="collapse" data-target="#vpn-nav-list-group">
                    <h5><span class="glyphicon glyphicon-list"></span>  VPN<span class="glyphicon glyphicon-menu-down"></span></h5>
                </li>
                <ul class="nav nav-pills nav-stacked collapse" id="vpn-nav-list-group">
                    <li><a>预留</a></li>
                    <li><a>预留</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xs-offset-2">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
