{% extends 'html.html' %}
{% load static %}
{% load i18n %}

{% block page-head %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
	{% block head %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
{% endblock %}

{% block page-header %}
    <nav class="navbar navbar-light bg-light navbar-expand-md">
{#        <a class="navbar-brand" href="#"><img class="navbar-brand" src="{% static 'images/icon/logo_pic.png' %}" height="30"></a>#}
{#        <a class="navbar-brand" href="{% url 'buckets:bucket_view' %}">{% trans '地球大数据科学工程对象云存储' %}</a>#}
        <a class="navbar-brand" href="#"><img src="{% static 'images/icon/logo.png' %}" height="30"></a>
        <a class="navbar-brand" href="{% url 'buckets:bucket_view' %}">{% trans '中国科技云对象存储服务' %}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{% trans '帮助' %}<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'apidocs' %}" target="view_window" >{% trans 'API文档' %}</a>
                        <a class="dropdown-item" href="{% url 'redoc' %}" target="view_window" >API ReDoc</a>
                        <a class="dropdown-item" href="{% url 'docs:docs' %}">{% trans '帮助文档' %}</a>
                    </div>
                </div>
                <li class="nav-item dropdown">
                    {% get_available_languages as LANGUAGES %}
                    <form action="{% url 'set_language' %}" method="post" id="id-language-switcher" hidden>
                        {% csrf_token %}
                    </form>
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-language" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{% trans '语言' %}<span class="caret"></span></a>
                    <div class="dropdown-menu" id="language-switcher" aria-labelledby="navbar-dropdown-language">
                        {% for code, name in LANGUAGES %}
                            <a class="dropdown-item language-switcher-item" href="#" value="{{ code }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>{{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'users:logout' %}">{% trans '登出' %}</a>
                            <a class="dropdown-item" href="{% url 'users:change_password' %}">{% trans '修改密码' %}</a>
                            <a class="dropdown-item" href="{% url 'users:security' %}">{% trans '安全凭证' %}</a>
                            <div class="dropdown-divider"></div>
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans '后台管理' %}</a>
                            {% endif %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:signin' %}">{% trans '登录' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">{% trans '注册' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block page-content %}
    {% block boby %}{% endblock %}
{% endblock %}

{% block page-script %}
    <script type="text/javascript" src="{% static 'iharbor/js/common.js' %}"></script>
    <script>
        $("#language-switcher").on("click", ".language-switcher-item", function () {
            let langValue = $(this).attr('value');
            let form = $("#id-language-switcher");
            let langInput = document.createElement("input");
            langInput.type="text";
            langInput.name="language";
            langInput.value = langValue;
            form.append(langInput);
            form.submit();
        })
    </script>
	{% block script %}{% endblock %}
{% endblock %}
