{% extends "base_with_sidebar.html" %}
{% load static %}
{% load i18n %}
{# 加载自定义过滤器 #}
{% load custom_filters %}

{% block title %}
    云主机
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'evcloud/evcloud.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div>
                    <button class="btn btn-primary" id="btn-evcloud-list"><i class="fa fa-list"></i> {% trans '我的云主机' %}</button>
                    <button class="btn btn-success disabled" id="btn-evcloud-add"><i class="fa fa-plus"></i>{% trans '创建云主机' %}</button>
                </div>
            </div>
        </div>
        <hr style=" height:1px;border:1px;border-top:1px solid #185598;"/>
        <div class="card">
            <div class="card-body">
            <form id="form-create" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="api" class="col-sm-2 col-form-label text-right">{% trans '类型' %}</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="api" name="api">
                            {% for api in api_list_dict %}
                                <option value="{{ api.id }}">{{ api.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="image" class="col-sm-2 control-label  text-right">{% trans '镜像' %}</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="image" name="image">
                            {% for image in image_list.values %}
                                <option value="{{ image.id }}_{{ image.name }} {{ image.version }}">{{ image.name }} {{ image.version }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="configure" class="col-sm-2 control-label text-right">{% trans '配置' %}</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="configure" name="configure">
                            {% for config in config_list_dict %}
                                <option value="{{ config.id }}">{{ config.cpu }} vcpu | {{ config.mem }}MB mem | {{ config.time }} month(s)</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button id="btn-evcloud-create" type="submit" class="btn btn-primary">{% trans '创建' %}</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'evcloud/evcloud-add.js' %}"></script>
{% endblock %}

